---
Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
ColumnLimit: 0
ForEachMacros: ["REP", "FOR"]
IndentWidth: 4
SpaceBeforeParens: Never
...
